header h1{
    display: inline;
}

.right{
    float: right;
}

body{
    background-color: darkgreen;
    text-decoration: none;
}

div{
    margin: auto;
    width: 65%;
    height: 80%;
    padding: 10px;
    background-color: beige;
    border: 2px solid white;
}

header{
    text-align: center;
    color: darkred;
    text-align: center;
}

nav{
    float:left
}

main{
    float: left;
    text-align: center;
    margin-left: 25%;
}

footer{
    clear: both;
}