<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TmP's blog!</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    <div class="container">

        <header>
            <h1>Add new article</h1>
        </header>
        <nav>
            <a href="/admin">go back</a></p>
        </nav>
        <main>
            <form method="POST">
                <input type="text" placeholder="Article Title" name="title"><br>
                <input type="date" placeholder="Publishing Date" name="title"><br>
                <textarea name="content" style="width: 450px; height: 117px;" placeholder="Content"></textarea><br>
                <input type="submit" name="Submit">
            </form>
        </main>
        <footer></footer>

    </div>

</body>
</html>