<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TmP's blog!</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    <div class="container">

        <header>
            <h1>LOG IN, ADMIN!</h1>
        </header>
        <nav>
            <p>admin?<br>
            <a href="/login">log in</a></p>

            <p>go back <a href="/home">home</a></p>
        </nav>
        <main>
            <h3>Podaj dane:</h3>
            <form method="POST">
                <input type="text" placeholder="login" name="login">
                <input type="password" placeholder="hasło" name="password">
                <input type="submit" name="loguj">
            </form>

            {% if result is not none%}
                {% if result == True %}
                <p>Podano poprawne dane.</p>
                <a href="/admin">Kontynuuj</a>
                {% elif result == False%}
                <p>Wpisano błędne dane.</p>
                {% endif %}
            {% endif %}
        </main>
        <footer>
            
        </footer>

    </div>

</body>
</html>